@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(https://i.pinimg.com/1200x/d8/cc/bb/d8ccbbe2e1d9241df5287a43321c9074.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.212);
    padding: 25px;
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.459);

}

.searchbar input {
    position: relative;
    padding: 10px 36px;
    width: 100%;
    border-radius: 10px;
    background:none;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.212);
    color: white;
}

.searchbar img:nth-of-type(1){
    position: absolute;
    top:10px;
    left: 10px;
    width: 20px;
}

.searchbar img:nth-of-type(2){
    position: absolute;
    top:10px;
    right: 10px;
    width: 19px;
}

.searchbar {
    position: relative;
    width: 100%;
}

.img-status img {
    margin-top: 30px;
    width: 180px;
}

.extraData img{
    width: 30px;
}

.extraData {
    width: 100%;
    justify-content: space-around;
}

.status p {
    font-weight: 700;
}

.extraData .details {
    font-size: 13px;
    font-weight: 500;
}