.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.gap-1 {
    gap: 5px;
}

.gap-2 {
    gap: 10px;
}

.gap-3 {
    gap: 20px;
}

.space-between {
    justify-content: space-between;
}

.invert {
    filter: invert(1);
}

.disnone {
    display: none;
}

.marBotm-30px {
    margin-bottom: 30px;
}