.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.gap-1 {
    gap: 5px;
}

.gap-2 {
    gap: 10px;
}

.gap-3 {
    gap: 20px;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.invert {
    filter: invert(1);
}

.disnone {
    display: none;
}

.visible{
    max-height: 480px;
}

.marBotm-30px {
    margin-bottom: 30px;
}

body.text-white {
    --text-color : white;
}

body.text-black {
    --text-color : black;
}

#gap-0 {
    gap: 0;
}